{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Registro{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post">
    <label for="username">Usuario</label>
    <input name="username" id="username" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Registrarse">
  </form>
{% endblock %}
